$maxPart: 5;

label {
    margin-right: 10px;
}

.container {
    margin: 10px auto;
    width: 1024px;

    .targetMonthTable {
        display: grid;
        grid-template-columns: 80px 80px 150px 100px 25px;
    }

    .userTable {
        display: grid;
        grid-template-columns: 80px 80px 80px 25px 25px;
    }

    .description {
        width: 250px;
    }

    .conditionForm {
        font-size: 12px;

        .conditionInputBlock {
            $widthInput: 50px;
            $widthHead: 100px;
            $paddingBlock: 10px;

            $widthCondtionInputBlock: 425px;
                // $widthTable
                // + 2*$paddingBlock
                // + (3*16);
            $widthTable:
                $widthHead
                + $maxPart*$widthInput;

            background-color: rgb(218, 251, 208);
            border: 1px solid green;
            padding: $paddingBlock;
            border-radius: 10px;
            width: $widthCondtionInputBlock;

            input {
                width: $widthInput;
                height: 100%;
            }

            .conditionInputTable {
                // width: $widthTable;

                div {
                    height: 24px;
                }

                .head {
                    width: $widthHead;
                }

                .partId {
                    text-align: center;
                }
            }
        }
    }

    .conditionTable {
        $widthDelete: 30px;
        $widthHead1: 95px;
        $widthDiv: 45px;
        $widthHead2: 110px;
        $widthTimeTd: 35px;

        font-size: 12px;
        width: $widthDelete
            + $widthHead1
            + $widthDiv
            + $widthHead2
            + $maxPart*$widthTimeTd;
        margin-right: 20px;

        .delete {
            width: $widthDelete;
            padding-left: 5px;
            display: flex;
            align-items: center;
            background-color: rgba(254, 46, 60, 0.2);
        }

        div {
            width: $widthDiv;
        }

        .timeTd div {
            width: $widthTimeTd;
        }

        .head1 div {
            width: $widthHead1;
        }

        .head2 div {
            width: $widthHead2;
        }
    }
}
