.container {
    margin: 10px auto;
    width: 1024px;
}
.targetMonthTable {
    display: grid;
    grid-template-columns: 80px 150px 80px 150px 100px 40px 40px;
}
hr {
    grid-column: span 4;
    width: 100%;
}
.tabelSpan {
    border-bottom: 1px solid rgba(91, 118, 254, 0.5);
    height: 30px;
    text-align: center;
    padding-top: 5px;
}
.headLabel {
    background-color: rgba(91, 118, 254, 0.2);
}
ul {
    padding-left: 20px;
}
