body {
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 2rem;
    margin: 10px;
    width: 375px;
    /* min-height: 100vh;
    display: grid; */
}
.ok {
    font-size: 18px;
    color: blue;
    border-radius: 4px;
}
.ng {
    font-size: 18px;
    color: red;
    border-radius: 4px;
}
.error {
    color: red;
}
p, div {
    font-size: 1rem;
}
h1 {
    font-size: 2.5rem;
    margin: 1.25rem 0;
    font-weight: bold;
}
h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0;
    font-weight: bold;
}
.h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0;
    font-weight: bold;
}
h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: bold;
}
.h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: bold;
}
summary {
    margin-bottom: 0.5rem;
}
label {
    font-size: 1rem;
    margin-right: 10px;
}
a {
    font-size: 1rem;
}
span {
    font-size: 1rem;
}
.column {
    display: flex;
    flex-flow: column;
}
.row {
    display: flex;
}
.padding-10 {
    padding: 10px;
}
