.container {
    margin: 10px;
    width: 1550px;
}
.openCloseBtn {
    width: 12px;
    height: 12px;
    margin: auto 10px auto 0;
    border: none;
    background-color: #fff;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    transform: translateX(10%) translateY(-40%) rotate(45deg);
}
label {
    margin: 0 10px 0 0;
}
.conditionInput {
    background-color: rgb(218, 251, 208);
    border: 1px solid green;
    padding: 10px;
    border-radius: 10px;
    width: 410px;
}
.conditionInputTable .th {
    width: 60px;
    height: 20px;
}
.conditionInputTable .td {
    width: 60px;
    height: 20px;
}
.conditionArr {
    font-size: 12px;
}
.conditionTable {
    font-size: 12px;
    width: 330px;
}
.conditionTable span {
    width: 50px;
}
.conditionTable span.headLabel {
    width: 70px;
}
.conditionTable span.timeTd {
    width: 25px;
}
.conditionPartTimeTable {
    font-size: 12px;
    display: grid;
    grid-template-columns:60px 60px 60px;
}
.conditionInputTable .column {
    width: 60px;
}
.publicHolidayInput {
    background-color: rgb(218, 251, 208);
    border: 1px solid green;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}
.column {
    display: flex;
    flex-flow: column;
}
.row {
    display: flex;
    margin: 0;
}
.hopeShiftTable {
    font-size: 12px;
    display: grid;
    grid-template-columns:60px 60px 60px repeat(31, 38px) 40px 40px;
}
.submitTable {
    display: grid;
    grid-template-columns: 15% 40% 30% 15%;
}
hr {
    width: 100%;
}
.conditionBr {
    grid-column: span 3;
    width: 100%;
}

.tabelSpan {
    border-bottom: 1px solid rgba(91, 118, 254, 0.5);
    height: 30px;
    text-align: center;
    padding-top: 5px;
}
.headLabel {
    background-color: rgba(91, 118, 254, 0.2);
}
