.container {
    margin: 10px;
    width: 1550px;
}
.openCloseBtn {
    width: 12px;
    height: 12px;
    margin: auto 10px auto 0;
    border: none;
    background-color: #fff;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    transform: translateX(10%) translateY(-40%) rotate(45deg);
}
label {
    margin: 0 10px 0 0;
}
.specialDayInputBlock {
    background-color: rgb(218, 251, 208);
    border: 1px solid green;
    padding: 10px;
    border-radius: 10px;
    width: 370px;
}
.specialDayTable span {
    width: 60px;
}
.specialDayTable .headLabel {
    width: 100px;
}
.specialDayTable .delete {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hopeShiftTable {
    /* font-size: 12px; */
    display: grid;
    grid-template-columns:80px 60px 60px repeat(31, 38px) 25px 25px;
}
.hopeShiftTable span {
    font-size: 1rem;
}
.hopeShiftTable span.td {
    font-size: 12px;
}
.submitTable {
    display: grid;
    grid-template-columns: 15% 40% 30% 15%;
}
hr {
    width: 100%;
}
.headLabel {
    background-color: rgba(91, 118, 254, 0.2);
}
