#hopeTime {
    margin: 0 auto;
    width: 350px;
}
.explain {
    font-size: 16px;
}
a {
    font-size: 16px;
}
.createStartEndLabel {
    font-size: 15px;
    display: grid;
    grid-template-columns: 70px 110px 120px 50px;
    height: 30px;
}
.createWorkTimeSelect {
    font-size: 17px;
    
    display: grid;
    grid-template-columns: 70px 110px 170px;
    /* grid-template: 
        "... ...... ...... ...... ...... ...... ..." 
        "... header header header header header ..." 150px
        "... ...... ...... ...... ...... ...... ..." 
        "... left   ...... center ...... right  ..." 1fr
        "... ...... ...... ...... ...... ...... ..." 
        "... footer footer footer footer footer ..." 300px
        "... ...... ...... ...... ...... ...... ..."
        / auto 150px auto minmax(300px, 1fr) auto 200px auto; */
}
.dayLabel {
    font-size: 16px;
    height: 30px;
}
.workTimeRadio {
    height: 30px;
}
hr {
    grid-column: span 3;
    width: 100%;
}
label {
    font-size: 11.8px;
}