{% extends "bootstrap/base.html" %}

{% block title %}管理者ログイン{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/adminLogin.css') }}">
{% endblock %}

{% block body %}
<div class="adminLogin">
    <h3>管理者ログイン</h3>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <hr>
    {% endwith %}
    <form method="POST">
        <label class="form-label">認証コード</label>
        <input type="text" name="adminAuthenticationCode" class="form-control">
        <br>
        <input type="submit" value="送信" class="btn btn-primary">
    </form>
    <hr>
    <a href="/userLogin" role="button">戻る（一般ユーザーとしてログインする）</a>
</div>
{% endblock %}
