{% extends "bootstrap/base.html" %}

{% block title %}管理者HOME{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/adminHome.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h3>管理者HOME</h3>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
            <hr>
        {% endif %}
    {% endwith %}
    <h4>今月{{ CURRENT_DATE_STR }}の公開シフト</h4>
    {% if currentShiftArr %}
        <!-- <section class="submitTable">
            <span class="tabelSpan headLabel">氏名</span>
            <span class="tabelSpan headLabel">作成日時</span>
            <span class="tabelSpan headLabel">最終編集者</span>
            <span for="empty" class="tabelSpan headLabel"></span>
            {% for submit in submitArr %}
                <span class="tabelSpan">{{ submit.name }}</span>
                <span class="tabelSpan">{{ submit.created_at }}</span>
                <span class="tabelSpan">{{ LAST_EDIT_LIST[submit.is_user_submission] }}</span>
                <a class="tabelSpan" href="/{{ submit.user_id }}/user/create/{{ PART_FULL_ENG_LIST[submit.is_full_time] }}/hopeShift" role="button">編集</a>
            {% endfor %}
        </section> -->
        <br>
        <p>「編集」から希望シフトに変更を加えることが出来ます</p>
        <a href="/admin/create/shift" role="button">シフト作成画面へ</a>
    {% else %}
        <p>今月の公開シフトは保存されていません</p>
    {% endif %}
    <hr>
    <h4>来月{{ TARGET_DATE_STR }}の希望シフト</h4>
    <h5>提出状況</h5>
    {% if targetMonthArr %}
        <section class="targetMonthTable">
            <span class="tabelSpan headLabel">氏名</span>
            <span class="tabelSpan headLabel">区分</span>
            <span class="tabelSpan headLabel">提出日時</span>
            <span class="tabelSpan headLabel">最終編集者</span>
            <span for="empty" class="tabelSpan headLabel"></span>
            <span for="empty" class="tabelSpan headLabel"></span>
            {% for targetMonth in targetMonthArr %}
                <span class="tabelSpan">{{ targetMonth.User.name }}</span>
                <span class="tabelSpan">{{ PART_FULL_JA_LIST[targetMonth.User.is_full_time] }}</span>
                <span class="tabelSpan">{{ targetMonth.HopeShift.created_at }}</span>
                <span class="tabelSpan">{{ LAST_EDIT_LIST[targetMonth.HopeShift.is_user_submission] }}</span>
                <a class="tabelSpan" href="/{{ targetMonth.User.id }}/user/create/{{ PART_FULL_ENG_LIST[targetMonth.User.is_full_time] }}/hopeShift" role="button">編集</a>
                <a class="tabelSpan" href="/admin/delete/userHopeShift/{{ targetMonth.User.id }}" role="button">削除</a>
            {% endfor %}
        </section>
        <br>
        <a href="/admin/create/shift" role="button">シフト作成画面へ</a>
    {% else %}
        <p>まだ希望シフトの提出がありません</p>
    {% endif %}
    <hr>
    <h4>ユーザー情報</h4>
    {% if userArr %}
        <section class="userTable">
            <span class="tabelSpan headLabel">氏名</span>
            <span class="tabelSpan headLabel">区分</span>
            <span class="tabelSpan headLabel">レベル</span>
            <span for="empty" class="tabelSpan headLabel"></span>
            <span for="empty" class="tabelSpan headLabel"></span>
            {% for user in userArr %}
                <span class="tabelSpan">{{ user.name }}</span>
                <span class="tabelSpan">{{ PART_FULL_JA_LIST[user.is_full_time] }}</span>
                <span class="tabelSpan">{{ user.level }}</span>
                {% if user.is_full_time == 0 %}
                    <a class="tabelSpan" href="/admin/switch/userLevel/{{ user.id }}" role="button">切り替え</a>
                {% else %}
                    <span for="empty" class="tabelSpan"></span>
                {% endif %}
                <a class="tabelSpan" href="/admin/delete/user/{{ user.id }}" role="button">削除</a>
            {% endfor %}
        </section>
        <br>
        <p>レベル1: 一般のバイト<br>
        レベル2: 各日に1人以上必要なバイト<br>
        レベル3: 社員<br>
        バイトのレベル変更は「切り替え」から行ってください
        </p>
    {% else %}
        <p>まだ登録されていません</p>
    {% endif %}
    <br>
    <a href="/logout" role="button">ログアウト</a>
</div>
{% endblock %}
