{% extends "base.html" %}

{% block title %}管理者ログイン{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/adminLogin.css') }}">
{% endblock %}

{% block body %}
<div class="adminLogin">
    <h3>管理者ログイン</h3>
    <br>
    <form method="POST" id="app" @submit="checkForm" novalidate="true">
        <div>
            認証コード<br>
            <input type="text" v-model="authenticationCode" name="authenticationCode">
            <div class="no" v-if="isNoneAuthenticationCode" v-cloak>認証コードを入力してください</div>
            {% if messageDictList %}
                {% for messageDict in messageDictList %}
                    {% if messageDict['id'] == 'authenticationCode' %}
                        <section v-if="isShowMessage_{{ messageDict['id'] }}" {{ 'class=ok' if messageDict['isOk'] else 'class=no' }}>
                            <div>{{ messageDict['message'] }}</div>
                        </section>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <br>
        <input type="submit" value="送信">
    </form>
    <hr>
    <a href="/userLogin" role="button">戻る（一般ユーザーとしてログインする）</a>
</div>
<script src="{{ url_for('static', filename='js/adminLogin.js') }}"></script>
{% endblock %}
