{% extends "base.html" %}

{% block title %}シフト作成{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/createShift.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>シフト作成{{ TARGET_DATE_STR }}</h1>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
            <hr>
        {% endif %}
    {% endwith %}
    <h2>作成手順</h2>
    <p>チェックボックスを上から順に埋めてください</p>
    <hr>
    <details class="padding-10" open="true">
        <summary><span class="h2">祝日・祝前日の設定</span></summary>
        <form method="POST" id="specialDay" class="specialDayArr" @submit="checkForm" novalidate="true">
            <section class="specialDayInputBlock">
                <label>
                    {{ CONDITION_LIST[0] }}
                    <select name="event" v-model="event" required="required" v-cloak>
                        <option value="4">{{ EVENT_LIST[4] }}</option>
                        <option value="5">{{ EVENT_LIST[5] }}</option>
                    </select>
                </label>
                <label>
                    {{ TARGET_YEAR_MONTH[0] }}年{{ TARGET_YEAR_MONTH[1] }}月
                    <select name="day" v-model="day" required="required">
                        {% for iDay in range(SUM_DAYS_OF_TARGET_MONTH) %}
                            <option value="{{ iDay+1 }}">{{ iDay+1 }}</option>
                        {% endfor %}
                    </select> 日
                </label>
                <label class="error" v-if="isAnyNone" v-cloak>入力もれがあります</label>
            </section>
            <input type="submit" class="btn btn-primary" value="追加する" formaction="/admin/create/shift/add/specialDay" formmethod="POST">
        </form>
        {% if specialDayArr %}
            <section class="specialDayTable row">
                <section class="column">
                    <span class="tabelSpan headLabel">日付</span>
                    <span class="tabelSpan headLabel">日付の種類</span>
                    <span class="tabelSpan headLabel"></span>
                </section>
                {% for specialDay in specialDayArr %}
                    <section class="column">
                        <span class="tabelSpan">{{ specialDay.day }}</span>
                        <span class="tabelSpan">{{ EVENT_LIST[specialDay.event] }}</span>
                        <a class="tabelSpan delete" href="/admin/create/shift/delete/specialDay/{{ specialDay.id }}" role="button"><img src="{{ url_for('static', filename='images/delete.png') }}" height="20" width="20"></a>
                    </section>
                {% endfor %}
            </section>
        {% else %}
            <p>設定していません</p>
        {% endif %}
    </details>
    <hr>
    <details class="padding-10" open="true">
        <summary><span class="h2">希望シフト</span></summary>
        {% if hopeShiftArr %}
            <section class="hopeShiftTable">
                <span class="tabelSpan headLabel">氏名</span>
                <span class="tabelSpan headLabel">区分</span>
                <span class="tabelSpan headLabel">レベル</span>
                {% for iDay in range(31) %}
                    {% if iDay < SUM_DAYS_OF_TARGET_MONTH %}
                        <span for="empty" class="tabelSpan headLabel">{{ iDay+1 }}</span>
                    {% else %}
                        <span for="empty" class="tabelSpan headLabel"></span>
                    {% endif %}
                {% endfor %}
                <span for="empty" class="tabelSpan headLabel"></span>
                <span for="empty" class="tabelSpan headLabel"></span>
                {% for hopeShift in hopeShiftArr %}
                    {% set outer_loop = loop %}
                    <span class="tabelSpan">{{ hopeShift.User.name }}</span>
                    <span class="tabelSpan">{{ PART_FULL_JA_LIST[hopeShift.User.is_full_time] }}</span>
                    <span class="tabelSpan">{{ hopeShift.User.level }}</span>
                    {% for iDay in range(31) %}
                        {% if iDay < SUM_DAYS_OF_TARGET_MONTH %}
                            <span class="tabelSpan td">{{ startEndListArr[outer_loop.index0][iDay] }}</span>
                        {% else %}
                            <span for="empty" class="tabelSpan"></span>
                        {% endif %}
                    {% endfor %}
                    <a class="tabelSpan" href="/{{ hopeShift.User.id }}/user/create/{{ PART_FULL_ENG_LIST[hopeShift.User.is_full_time] }}/hopeShift" role="button"><img src="{{ url_for('static', filename='images/edit.png') }}" height="20" width="20"></a>
                    <a class="tabelSpan" href="/admin/delete/user/{{ hopeShift.User.id }}" role="button"><img src="{{ url_for('static', filename='images/delete.png') }}" height="20" width="20"></a>
                {% endfor %}
            </section>
            <p><a href="/admin/edit/partLevel" role="button">実行</a><br>
            自動でシフトを作成します</p>
        {% else %}
            <p>まだ希望シフトの提出がありません</p>
        {% endif %}
    </details>
    <hr>
    <details class="padding-10" open="true">
        <summary><span class="h2">シフトの調整</span></summary>
        {% if userArr %}
            <section class="userTable">
                <span class="tabelSpan headLabel">氏名</span>
                <span class="tabelSpan headLabel">区分</span>
                <span class="tabelSpan headLabel">レベル</span>
                <span for="empty" class="tabelSpan headLabel"></span>
                {% for user in userArr %}
                    <span class="tabelSpan">{{ user.name }}</span>
                    <span class="tabelSpan">{{ PART_FULL_JA_LIST[user.is_full_time] }}</span>
                    <span class="tabelSpan">{{ user.level }}</span>
                    <a class="tabelSpan" href="/admin/delete/userRecord/{{ user.id }}" role="button"><img src="{{ url_for('static', filename='images/delete.png') }}" height="20" width="20"></a>
                {% endfor %}
            </section>
            <br>
            <p><a href="/admin/edit/partLevel" role="button">公開</a><br><br>
            完成版として全体に公開します</p>
            <p>1つだけ一時保存することが出来ます<br>
            <a href="/admin/edit/partLevel" role="button">保存する</a></p>
            <p>一時保存中のシフトをここに開く<br>
            <a href="/admin/edit/partLevel" role="button">開く</a></p>
            <p>希望シフトをここに開く<br>
            <a href="/admin/edit/partLevel" role="button">開く</a></p>
        {% else %}
            <p>シフトの自動作成後に使用できます</p>
        {% endif %}
    </details>
    <hr>
    <details class="padding-10" open="true">
        <summary><span class="h2">一時保存中のシフト</span></summary>
        {% if userArr %}
            <section class="userTable">
                <span class="tabelSpan headLabel">氏名</span>
                <span class="tabelSpan headLabel">区分</span>
                <span class="tabelSpan headLabel">レベル</span>
                <span for="empty" class="tabelSpan headLabel"></span>
                {% for user in userArr %}
                    <span class="tabelSpan">{{ user.name }}</span>
                    <span class="tabelSpan">{{ PART_FULL_JA_LIST[user.is_full_time] }}</span>
                    <span class="tabelSpan">{{ user.level }}</span>
                    <a class="tabelSpan" href="/admin/delete/userRecord/{{ user.id }}" role="button"><img src="{{ url_for('static', filename='images/delete.png') }}" height="20" width="20"></a>
                {% endfor %}
            </section>
        {% else %}
            <p>保存しているシフトはありません</p>
        {% endif %}
    </details>
    <hr>
    <details class="padding-10" open="true">
        <summary><span class="h2">公開中のシフト</span></summary>
        {% if releasedShiftArr %}
            <!-- <section class="submitTable">
                <span class="tabelSpan headLabel">氏名</span>
                <span class="tabelSpan headLabel">作成日時</span>
                <span class="tabelSpan headLabel">最終編集者</span>
                <span for="empty" class="tabelSpan headLabel"></span>
                {% for releasedShift in releasedShiftArr %}
                    <span class="tabelSpan">{{ submit.name }}</span>
                    <span class="tabelSpan">{{ submit.created_at }}</span>
                    <span class="tabelSpan">{{ LAST_EDIT_LIST[submit.is_user_submission] }}</span>
                    <a class="tabelSpan" href="/{{ submit.user_id }}/user/create/{{ PART_FULL_ENG_LIST[submit.is_full_time] }}/hopeShift" role="button">編集</a>
                {% endfor %}
            </section> -->
            <br>
            <a href="/admin/delete/releasedShift" role="button">公開を取り消す</a>
        {% else %}
            <p>公開中のシフトはありません</p>
        {% endif %}
    </details>
    <hr>
    <a href="/admin/home" role="button">管理者HOMEに戻る</a>
</div>
<script src="{{ url_for('static', filename='js/createShift.js') }}"></script>
{% endblock %}
