{% extends "bootstrap/base.html" %}

{% block title %}希望シフト作成{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/hopeTime.css') }}">
{% endblock %}

{% block body %}
<div id="hopeTime">
    <h4>希望シフト</h4>
    <div class="explain">勤務可能時間帯を選択してください</div>
    <div class="createStartEndLabel">
        <div class="empty"></div>
        <div class="startLabel">勤務開始時間</div>
        <div class="startLabel">勤務終了時間</div>
        <div class="unitLabel">（時）</div>
    </div>
    <form method="POST" class="createWorkTimeSelect">
        <div class="empty"></div>

        <div class="startTimeLabel">
            {% for startTime in START_SELECT_LIST %}
                <label>{{ startTime }}</label>
            {% endfor %}
        </div>

        <div class="endTimeLabel">
            {% for endTime in END_SELECT_LIST %}
                <label>{{ endTime }}</label>
            {% endfor %}
        </div>

        {% for i in range( hopeDayStrList | length ) %}

            <div class="dayLabel">{{ hopeDayStrList[i] }}</div>

            <div class="workTimeRadio">
                {% for iStart in START_SELECT_LIST %}
                    {% if iStart == START_END_DEFAULT[0] %}
                        <input type="radio" value="{{ iStart }}" name="{{ workTimeRadioNameList[2*i] }}" checked>
                    {% else %}
                        <input type="radio" value="{{ iStart }}" name="{{ workTimeRadioNameList[2*i] }}">
                    {% endif %}
                {% endfor %}
            </div>

            <div class="workTimeRadio">
                {% for iEnd in END_SELECT_LIST %}
                    {% if iEnd == START_END_DEFAULT[1] %}
                        <input type="radio" value="{{ iEnd }}" name="{{ workTimeRadioNameList[2*i+1] }}" checked>
                    {% else %}
                        <input type="radio" value="{{ iEnd }}" name="{{ workTimeRadioNameList[2*i+1] }}">
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <br>
        <a href="/{{ id }}/user/home" role="button" class="btn btn-primary">キャンセル</a>
        <input type="submit" value="希望シフトを提出する" class="btn btn-primary">
        <br>
    </form>
</div>
{% endblock %}
