{% extends "base.html" %}

{% block title %}希望シフト作成{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/hopeShiftPartTime.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <header>
        <nav>
            <h2>{{ TARGET_YEAR_MONTH[0] }}年{{ TARGET_YEAR_MONTH[1] }}月の希望シフト</h2>
            <p class="explain">休みを希望する日のチェックを外してください<br>
            勤務可能時間帯を選択してください</p>
            <section class="workTimeSelect1">
                <div for="empty"></div>
                <div for="empty"></div>
                <span class="startEndLabel workTimeSection">勤務開始時間</span>
                <span class="startEndLabel workTimeSection">勤務終了時間</span>

                <span class="hopeDayLabel">勤務可能</span>
                <div for="empty"></div>
                <section class="startTimeLabel workTimeLabel workTimeSection">
                {% for startTime in PART_TIME_START_OPTION_LIST %}
                    <label>{{ startTime }}</label>
                {% endfor %}
                </section>
                <section class="endTimeLabel workTimeLabel workTimeSection">
                {% for endTime in PART_TIME_END_OPTION_LIST %}
                    <label>{{ endTime }}</label>
                {% endfor %}
                </section>
            </section>
        </nav>
    </header>
    <form method="POST" id="workTimeSelect" class="workTimeSelect2">
        {% for iDay in range( DAY_STR_LIST | length ) %}
            <!-- 勤務可能日（デフォルト）のとき -->
            {% if defaultHopeDayList[iDay] == 1 %}
                <input
                    class="hopeDayCheckBox isHopeDay" @click="switchHopeDay" type="checkbox" checked="checked"
                    id="hopeDayCheckBox_{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}"
                    name="hopeDayCheckBox_{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}"
                >
            <!-- 希望休のとき -->
            {% elif defaultHopeDayList[iDay] == 0 %}
                <input
                    class="hopeDayCheckBox" @click="switchHopeDay" type="checkbox"
                    id="hopeDayCheckBox_{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}"
                    name="hopeDayCheckBox_{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}"
                >
            {% endif %}
            <label
                class="dayLabel"
                id="dayLabel{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}"
            >
            {{ iDay+1 }} {{ DAY_STR_LIST[iDay] }}
            </label>
            <section class="startTimeLabel workTimeRadio workTimeSection" id="start{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}">
            {% for iStart in PART_TIME_START_OPTION_LIST %}
                {% if iStart == defaultStartList[iDay] %}
                    <input
                        type="radio" value="{{ iStart }}" checked="checked"
                        name="{{ WORK_TIME_RADIO_NAME_LIST[2*iDay] }}"
                    >
                {% else %}
                    <input
                        type="radio" value="{{ iStart}}"
                        name="{{ WORK_TIME_RADIO_NAME_LIST[2*iDay] }}"
                    >
                {% endif %}
            {% endfor %}
            </section>
            <div id="startEmpty{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}"></div>
            <section class="endTimeLabel workTimeRadio workTimeSection" id="end{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}">
            {% for iEnd in PART_TIME_END_OPTION_LIST %}
                {% if iEnd == defaultEndList[iDay] %}
                    <input
                        type="radio" value="{{ iEnd }}" checked="checked"
                        name="{{ WORK_TIME_RADIO_NAME_LIST[2*iDay+1] }}"
                    >
                {% else %}
                    <input
                        type="radio" value="{{ iEnd }}"
                        name="{{ WORK_TIME_RADIO_NAME_LIST[2*iDay+1] }}"
                    >
                {% endif %}
            {% endfor %}
            </section>
            <div id="endEmpty{{ DAYS_OF_TARGET_MONTH_LIST[iDay] }}"></div>
        {% endfor %}
        <br>
        <br>
        {% if isAdmin %}
            <a href="/admin/home" role="button" class="btn btn-primary">キャンセル</a>
        {% else %}
            <a href="/{{ userId }}/user/home" role="button" class="btn btn-primary">キャンセル</a>
        {% endif %}
        <input type="submit" value="提出" class="btn btn-primary">
    </form>
    <p>データの送信に少し時間がかかることがあります</p>
    <br>
</div>
<script src="{{ url_for('static', filename='js/date.js') }}"></script>
<script src="{{ url_for('static', filename='js/hopeShiftPartTime.js') }}"></script>
{% endblock %}
