{% extends "bootstrap/base.html" %}

{% block title %}ログイン{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div class="login">
    <h3>ログイン</h3>
    <br>
    {% if messageList %}
        {% for iMessage in messageList %}
            <p>{{ iMessage }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST">
        <label class="form-label">姓</label>
        <input type="text" name="userLastName" class="form-control">
        <label class="form-label">名</label>
        <input type="text" name="userFirstName" class="form-control">
        <label class="form-label">パスワード</label>
        <input type="password" name="password" class="form-control">
        <br>
        <input type="submit" value="送信" class="btn btn-primary">
    </form>
    <hr>
    <p>はじめての利用ですか？</p>
    <a href="/signup" role="button">新規登録の方はこちらから</a>
</div>
{% endblock %}
