hopeDayList = []
        if part_full == config.PART_FULL_ENG_LIST[0]:
            print('check1')
            startList = []
            endList = []
            for iDay in range(config.SUM_DAYS_OF_TARGET_MONTH):
                if request.form.get(f'hopeDayCheckBox_{iDay+1}'):
                    startList.append(int(request.form.get(f'start_{iDay+1}')))
                    endList.append(int(request.form.get(f'end_{iDay+1}')))
        elif part_full == config.PART_FULL_ENG_LIST[1]:
            for iDay in range(config.SUM_DAYS_OF_TARGET_MONTH):
                print(request.form.get(f'isHopeDay{iDay+1}'))
                if request.form.get(f'isHopeDay{iDay+1}'):
                    hopeDayList.append(iDay+1)
            startList = [config.FULL_TIME_LIST[0]]*len(hopeDayList)
            endList = [config.FULL_TIME_LIST[1]]*len(hopeDayList)
        print(hopeDayList)
