{% extends "bootstrap/base.html" %}

{% block title %}希望シフト作成{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/hopeShiftPartTime.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <header>
        <nav>
            <h3>{{ TARGET_YEAR_MONTH[0] }}年{{ TARGET_YEAR_MONTH[1] }}月の希望シフト</h3>
            <div class="explain">休みを希望する日のチェックを外してください</div>
            <div class="explain">勤務可能時間帯を選択してください</div>
            <div class="workTimeSelect1">
                <div for="empty"></div>
                <div for="empty"></div>
                <div class="startEndLabel">勤務開始時間</div>
                <div class="startEndLabel">勤務終了時間</div>

                <div class="hopeDayLabel">勤務可能</div>
                <div class="monthLabel">{{ TARGET_MONTH }}月</div>
                <div class="startTimeLabel">
                {% for startTime in START_SELECT_LIST %}
                    <label>{{ startTime }}</label>
                {% endfor %}
                </div>
                <div class="endTimeLabel">
                {% for endTime in END_SELECT_LIST %}
                    <label>{{ endTime }}</label>
                {% endfor %}
                </div>
            </div>
        </nav>
    </header>
    <form method="POST" class="workTimeSelect2">
        {% for iDay in range( DAY_STR_LIST | length ) %}
            <input v-on:click="switchHopeHoliday" type="checkbox" name="{{ HOPE_DAY_CHECK_BOX_NAME_LIST[iDay] }}" checked="checked">
            <div id="{{ DAY_LABEL_ID_LIST[iDay] }}" class="dayLabel">{{ iDay+1 }} {{ DAY_STR_LIST[iDay] }}</div>
            <div class="workTimeRadio">
            {% for iStart in START_SELECT_LIST %}
                {% if iStart == START_END_DEFAULT[0] %}
                <input type="radio" value="{{ iStart }}" name="{{ WORK_TIME_RADIO_NAME_LIST[2*iDay] }}" checked="checked">
                {% else %}
                <input type="radio" value="{{ iStart }}" name="{{ WORK_TIME_RADIO_NAME_LIST[2*iDay] }}">
                {% endif %}
            {% endfor %}
            </div>
            <div class="workTimeRadio">
            {% for iEnd in END_SELECT_LIST %}
                {% if iEnd == START_END_DEFAULT[1] %}
                <input type="radio" value="{{ iEnd }}" name="{{ WORK_TIME_RADIO_NAME_LIST[2*iDay+1] }}" checked="checked">
                {% else %}
                <input type="radio" value="{{ iEnd }}" name="{{ WORK_TIME_RADIO_NAME_LIST[2*iDay+1] }}">
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        <br>
        <br>
        <a href="/{{ userID }}/user/home" role="button" class="btn btn-primary">キャンセル</a>
        <input type="submit" value="提出" class="btn btn-primary">
    </form>
    <p>データの送信に少し時間がかかることもあります</p>
    <br>
</div>
<script>
    new Vue({
        el:".workTimeSelect2",
        data:{
        },
        methods:{
            switchHopeHoliday:function(event){
                const words = event.target.name.split('_');
                const labelElement = document.getElementById('dayLabel_'+words[1])
                if( labelElement.classList.contains('hopeHoliday')){
                    labelElement.classList.remove('hopeHoliday')
                } else {
                    labelElement.classList.add('hopeHoliday')
                }
            }
        },
        delimiters: ['[[', ']]']
    })
</script>
{% endblock %}
