{% extends "base.html" %}

{% block title %}パスワードの再設定{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/resetPassword.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>パスワードの再設定</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
            <hr>
        {% endif %}
    {% endwith %}
    <form method="POST" id="app" @submit="checkForm" novalidate="true">
        <div>新しいパスワード（半角英数字のみ・20文字以内）<br>
            <input type="password" v-model="password" name="password" required="required"></div>
        <div class="no" v-if="isNonePassword" v-cloak>新しいパスワードを入力してください</div>
        <div class="no" v-if="isUnmatchPassword" v-cloak>パスワードが一致していません</div>
        <div class="no" v-if="isOverPassword" v-cloak>パスワードは20文字以内にしてください</div>
        <div>新しいパスワード（確認用）<br>
            <input type="password" v-model="passwordCheck" name="passwordCheck" required="required"></div>
        <div class="no" v-if="isNonePasswordCheck" v-cloak>新しいパスワードを入力してください</div>
        <div class="no" v-if="isUnmatchPassword" v-cloak>パスワードが一致していません</div>
        <div class="no" v-if="isOverPasswordCheck" v-cloak>パスワードは20文字以内にしてください</div>
        <br>
        <input type="submit" value="送信">
    </form>
</div>
<script src="{{ url_for('static', filename='js/resetPassword.js') }}"></script>
{% endblock %}
