{% extends "base.html" %}

{% block title %}パスワード再設定用URLの送信{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/sendResetPasswordUrl.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h2>パスワード再設定用URLの送信</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
            <hr>
        {% endif %}
    {% endwith %}
    <form method="POST" id="app" @submit="checkForm" novalidate="true">
        <p>パスワードをリセットします<br>
        登録しているメールアドレスを入力してください</p>
        <p>※ 再設定用URLの期限は60分です<br>
        メールが届かない場合は、迷惑メールフォルダに入っていないか確認してください</p>
        <div>メールアドレス<br>
            <input type="email" v-model="email" name="email"></div>
        <div class="no" v-if="isNoneEmail" v-cloak>メールアドレスを入力してください</div>
        <div class="no" v-if="isNotGoodEmail" v-cloak>メールアドレスの形式が間違っています</div>
        <br>
        <input type="submit" value="パスワード再設定">
    </form>
    <br>
    <a href="/userLogin" role="button">ログイン画面に戻る</a>
</div>
<script src="{{ url_for('static', filename='js/sendResetPasswordUrl.js') }}"></script>
{% endblock %}
