{% extends "base.html" %}

{% block title %}新規登録{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block body %}
<div class="signup">
    <h1>新規登録</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" id="app" @submit="checkForm" novalidate>
        <div>氏名（5文字以内・シフト表に記載）<br>
            <input type="text" v-model="name" name="name" placeholder="例）佐藤" required>
        </div>
        <section v-if="isShowMessageName" class="no">
            <div v-if="isNoneName" v-cloak>氏名を入力してください</div>
            <div v-if="isOverName" v-cloak>氏名は5文字以内にしてください</div>
        </section>
        <div>メールアドレス<br>
            <input type="email" v-model="email" name="email" required></div>
        <div class="no" v-if="isNoneEmail" v-cloak>メールアドレスを入力してください</div>
        <div class="no" v-if="isNotGoodEmail" v-cloak>メールアドレスの形式が間違っています</div>
        <br>
        <div>パスワード（半角英数字のみ・20文字以内）<br>
            <input type="password" v-model="password" name="password" required></div>
        <div class="no" v-if="isNonePassword" v-cloak>パスワードを入力してください</div>
        <div class="no" v-if="isUnmatchPassword" v-cloak>パスワードが一致していません</div>
        <div class="no" v-if="isOverPassword" v-cloak>パスワードは20文字以内にしてください</div>
        <div>パスワード（確認用）<br>
            <input type="password" v-model="passwordCheck" name="passwordCheck" required></div>
        <div class="no" v-if="isNonePasswordCheck" v-cloak>パスワードを入力してください</div>
        <div class="no" v-if="isUnmatchPassword" v-cloak>パスワードが一致していません</div>
        <div class="no" v-if="isOverPasswordCheck" v-cloak>パスワードは20文字以内にしてください</div>
        <br>
        <p>▼ 選択してください</p>
        <div><input type="radio" v-model="isFullTime" value="1" name="isFullTime" required> {{ PART_FULL_JA_LIST[1] }}</div>
        <div><input type="radio" v-model="isFullTime" value="0" name="isFullTime" required> {{ PART_FULL_JA_LIST[0] }}</div>
        <div class="no" v-if="isNoneIsFullTime" v-cloak>選択されていません</div>
        <input type="submit" value="送信">
    </form>
    <hr>
    <p>登録済みですか？</p>
    <a href="/userLogin" role="button">ログインはこちらから</a>
</div>
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}
