{% extends "bootstrap/base.html" %}

{% block title %}新規登録{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block body %}
<div class="signup">
    <h3>新規登録</h3>
    <br>
    {% if errorList %}
        {% for iError in errorList %}
            <p>{{ iError }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST">
        <label class="form-label">姓</label>
        <input type="text" name="userLastName" class="form-control">
        <label class="form-label">名</label>
        <input type="text" name="userFirstName" class="form-control">
        <label class="form-label">パスワード</label>
        <input type="password" name="password" class="form-control">
        <br>
        <input type="submit" value="新規登録" class="btn btn-primary">
    </form>
    <br>
    <a href="/login" role="button">ログインぺージ（登録済みの方はこちら）</a>
</div>
{% endblock %}