{% extends "bootstrap/base.html" %}

{% block title %}新規登録{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block body %}
<div class="signup">
    <h3>新規登録</h3>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        <label class="form-label">氏名（シフト表に記載されます）</label>
        <input type="text" name="name" placeholder="例）佐藤" class="form-control">
        <label class="form-label">ユーザーID（半角英数字のみ・20文字以内・非公開情報）</label>
        <input type="text" name="loginId" class="form-control">
        <br>
        <label class="form-label">パスワード（半角英数字のみ・20文字以内）</label>
        <input type="password" name="password" class="form-control">
        <label class="form-label">パスワード（確認用）</label>
        <input type="password" name="passwordCheck" class="form-control">
        <br>
        <p>▼ 選択してください</p>
        <label><input type="radio" value="1" name="isFullTime"> {{ PART_FULL_JA_LIST[1] }}</label>
        <br>
        <label><input type="radio" value="0" name="isFullTime"> {{ PART_FULL_JA_LIST[0] }}</label>
        <br>
        <br>
        <input type="submit" value="送信" class="btn btn-primary">
    </form>
    <hr>
    <p>登録済みですか？</p>
    <a href="/userLogin" role="button">ログインはこちらから</a>
</div>
{% endblock %}
