{% extends "bootstrap/base.html" %}

{% block title %}ログイン{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/userLogin.css') }}">
{% endblock %}

{% block body %}
<div class="userLogin">
    <h3>ログイン</h3>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
            <hr>
        {% endif %}
    {% endwith %}
    <form method="POST">
        <label class="form-label">ユーザーID</label>
        <input type="text" name="loginId" class="form-control">
        <label class="form-label">パスワード</label>
        <input type="password" name="password" class="form-control">
        <br>
        <input type="submit" value="送信" class="btn btn-primary">
    </form>
    <hr>
    <p>はじめての利用ですか？</p>
    <a href="/signup" role="button">新規登録の方はこちらから</a>
    <br>
    <br>
    <a href="/adminLogin" role="button">管理者としてログインする</a>
</div>
{% endblock %}
