{% extends "bootstrap/base.html" %}

{% block title %}HOME{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet", href="{{ url_for('static', filename='css/userHome.css') }}">
{% endblock %}

{% block body %}
<div class="userHome">
    <br>
    <a href="/{{ userId }}/user/create/hopeDay" role="button">希望シフトを作成して提出</a>
    <br>
    <a href="/logout" role="button">ログアウト</a>
    <hr>
    <h4>{{ HOPE_SHIFT_STR }}</h4>
    {% if error %}    
        <p>{{ error }}</p>    
    {% else %}
        <p>作成日時： {{ hopeDay.created_at }}</p>
    {% endif %}
</div>
{% endblock %}